<button><a routerLink="/create">Create New User</a></button>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-white">
                <div class="card-body">
                    
                    <!-- <ul class="nav nav-pills todo-nav">
                        <li role="presentation" class="nav-item all-task active"><a href="#" class="nav-link">All</a></li>
                        <li role="presentation" class="nav-item active-task"><a href="#" class="nav-link">Active</a></li>
                        <li role="presentation" class="nav-item completed-task"><a href="#" class="nav-link">Completed</a></li>
                    </ul> -->
                    <div class="todo-list">
                        <div *ngIf = "users.length > 0; else nousers">
                            <div *ngFor = "let user of users" >
                                <div class="todo-item">
                                    
                                    <div class="task-text" >      {{user}}</div>
                                    
                                </div>
                            </div>

                            
                        </div>
                        <ng-template #nousers>
                            You have no users.
                        </ng-template>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>